@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Expletus+Sans:400,500,600,700&display=swap");

.poster {
	z-index: 0;
}

.poster:before {
	background-image: url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80) !important;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	filter: brightness(70%);
}

body.poster:before {
	position: fixed;
}
@media (min-width: 1440px),
	(min-width: 992px) and (-webkit-min-device-pixel-ratio: 2),
	(min-width: 992px) and (min-resolution: 192dpi) {
	.poster:before {
		background-image: url(https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80) !important;
		filter: brightness(70%);
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Expletus Sans", sans-serif;
}
.font-serif {
	font-family: "Expletus Sans", sans-serif;
}
